.foot {
    border: 1px solid red transparent;
    width: 100%;
    text-align: center;
  }
  
  .footBody {
    margin-top: 50px;
  }
  
  .foot2,
  .foot3 {
    margin-top: 30px;
    display: inline-block;
    width: 25%;
    vertical-align: top;
  }
  
  .foot2 {
    border: 1px red solid transparent;
    margin-left: 200px;
  }
  
  .foot3 {
    border: 1px red solid transparent;
    margin-right: 200px; 
  }
  
  .un-list {
    list-style-type: none;
    padding-left: 0; 
    margin-top: 30px; 
    border: 1px solid red transparent;
    text-align: center;
    margin-right: 100px;
  }
  
  .un-list li {
    display: inline-block;
    margin: 0 10px; 
  }
  
  a {
    color: rgba(66, 65, 65, 0.849);
    text-decoration: none;
  }
  
  a:hover {
    color: red;
  }
  
  h5 {
    color: rgba(240, 248, 255, 0.584);
  }
  
  @media only screen and (max-width: 768px) {
    .foot2,
    .foot3 {
      display: block;
      width: 100%;
      margin: 20px 0;
    }
  }
  
