.footer{
    display: flex;
    margin-top: 140px;
    margin-left: -42px;
}
.un-list{
    display: inline-flex;
    list-style-type: none;
    margin-left: -50px;
    text-decoration: none;
}
.un-list li{
    margin-left: 20px;
}
a{
    color: rgba(255, 255, 255, 0.719);
}
a:hover{
    color: red;
}