.container {
    color: white;
    font-weight: bold;
    font-size: xx-large;
    border: 1px solid rgb(6, 243, 255) transparent;
    width: 700px;
    margin: 15% 17%;
    font-family: Arial, Helvetica, sans-serif;
    position: relative; /* Add relative positioning */
}

.container1 {
    width: 100%; /* Adjust width to fit the container */
    max-width: 410px; /* Set maximum width */
    margin: 0 auto; /* Center the container */
    position: absolute; /* Add absolute positioning */
    top: 50%; /* Align to the vertical center */
    right: -40%; /* Move slightly to the right side */
    transform: translateY(-50%); /* Center vertically */
}

.container1 img {
    margin-top: -70px;
    width: 100%; /* Make the image responsive */
    max-width: 380px; /* Set maximum width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%;
    border: 3px solid rgb(235, 28, 28);
}

@media (max-width: 1050px) {
    .container1 {
        max-width: 300px; /* Adjust maximum width */
        right: -5%; /* Move slightly to the right side */
    }

    .container1 img {
        max-width: 250px; /* Adjust maximum width */
    }
}

@media (max-width: 480px) {
    .container {
        width: 95%;
        margin: 5% auto;
        font-size: medium;
    }

    .container1 {
        max-width: 250px; /* Adjust maximum width */
        right: 0; /* Align to the right side */
    }

    .container1 img {
        max-width: 200px; /* Adjust maximum width */
    }
}
