.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("https://images.unsplash.com/photo-1517874045092-09f497a82704?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    color: white;
  }
  
  .skills1,
  .skills2 {
    margin-top: 20px;
    border: 1px solid red transparent;
    background-color: rgba(0, 0, 0, 0.148);
    border-radius: 20px;
    height: 275px;
    width: 350px;
    padding: 30px;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .skills1,
.skills2 {
  margin-top: 20px;
  border: 1px solid red transparent;
  background-color: rgba(0, 0, 0, 0.148);
  border-radius: 20px;
  height: 275px;
  width: 350px;
  padding: 30px;
  margin-bottom: 20px;
  text-align: left;
}

.skills1,
.skills2 {
  margin-top: 20px;
  border: 1px solid red transparent;
  background-color: rgba(0, 0, 0, 0.148);
  border-radius: 20px;
  height: 275px;
  padding: 30px;
  margin-bottom: 20px;
  text-align: left;
  flex: 1;
}

.skills1,
.skills2 {
  margin-top: 20px;
  border: 1px solid red transparent;
  background-color: rgba(0, 0, 0, 0.148);
  border-radius: 20px;
  height: 275px;
  padding: 30px;
  margin-bottom: 20px;
  text-align: justify;
  padding-left: 150px;
  flex: 1;
}

.skills1 {
  margin-right: 20px;
}

.skills2 {
  margin-left: 20px;
}

.skills {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .skills1,
  .skills2 {
    width: 100%;
    margin: 10px 0;
  }

  .skills {
    flex-direction: column;
    align-items: center;
  }

  .skills1 {
    margin-right: 0;
  }
}

.tech{
    color: red;
    font-weight: bolder;
    
}
